.PhoneInputCountryIconImg,
.PhoneInputCountrySelect {
  display: none;
}

.quote {
  height: calc(100vh - 112px);
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background: white;
}
.quote-form {
  width: 460px;
  padding: 1.5rem;
  border-radius: 6px;
  border: 1px solid rgba(47, 43, 61, 0.2);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.qf-input > input,
.qfd-input,
.PhoneInputInput {
  height: 40px;
  width: stretch;
  font-size: 0.9375rem;
  font-family: light;
  color: rgba(47, 43, 61, 0.68);
  border-radius: 6px;
  border: 1px solid rgba(47, 43, 61, 0.2);
  padding: 0 12px;
  margin-top: 8px;
}
.qf-input > input:focus,
.qfd-input:focus,
.PhoneInputInput:focus {
  border: 1px solid #0c0961;
  outline: none;
  box-shadow: 0px 2px 6px 0px rgba(12, 9, 97, 0.1);
}
.qf-input > label {
  font-size: 0.9375rem;
  font-family: light;
  text-transform: uppercase;
}
.qf-title {
  font-size: 20px;
  font-family: bold;
  text-align: center;
}
.qf-subtitle {
  font-size: 20px;
  text-align: center;
}

.qf-radio-container-flex {
  display: flex;
  justify-content: space-between;
}
.qf-radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 6px;
  border: 1px solid #6986ce;
  height: 46px;
  width: fit-content;
}
.qfr-radio {
  display: none;
}
.qfr-label {
  font-size: 0.9375rem;
  font-family: light;
  color: rgba(47, 43, 61, 0.68);
  cursor: pointer;
  margin: 0.125rem;
  border-radius: 6px;
  padding: 0 12px;
  line-height: 40.185px;
  width: 80px;
  text-align: center;
}
.qfr-radio:checked + .qfr-label {
  background: #6986ce;
  color: white;
}
.qfr-title {
  font-size: 0.9375rem;
  font-family: light;
  text-transform: uppercase;
}
.qfd-input {
  height: 40px;
  width: stretch;
  font-size: 0.9375rem;
  font-family: light;
  color: rgba(47, 43, 61, 0.68);
  border-radius: 6px;
  border: 1px solid rgba(47, 43, 61, 0.2);
  padding: 0 12px;
}
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: #0c0961;
  outline: none;
}

.qf-bar {
  display: flex;
  border-radius: 6px;
  border: 1px solid #6986ce;
  width: fit-content;
  padding: 2px;
  align-self: center;
}
.qfb-button-active {
  background: #6986ce;
  height: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-family: light;
  color: white;
  text-align: center;
  cursor: pointer;
}
.qfb-button {
  /* background: #6986ce; */
  height: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-family: light;
  text-align: center;
  cursor: pointer;
}
.qf-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}
.qf-button-active {
  background: #6986ce;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-family: light;
  border: none;
  cursor: pointer;
}
.qf-button {
  background: rgba(214, 214, 214, 0.726);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-family: light;
  border: none;
  cursor: not-allowed;
}
.qf-button > img {
  height: 24px;
}
.qf-button-active > img {
  height: 24px;
}
.qf-button-flip {
  transform: rotate(180deg);
}
.qf-submit {
  background: #6986ce;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-family: light;
  border: none;
  cursor: pointer;
}
