.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 48px;
  max-width: 1696px;
  margin: auto;
}
.navigation-left {
  display: flex;
  align-items: center;
}

.nl-logo {
  height: 72px;
  width: 72px;
}
.nl-name {
  font-family: logo;
  text-transform: uppercase;
  font-size: 36px;
  color: #5a3eb5;
}
.navigation-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nr-Link {
  font-family: light;
  text-transform: capitalize;
  font-size: 20px;
  word-spacing: -2px;
  padding: 4px 12px;
  border-radius: 500px;
}
.nr-Link:hover {
  background: white;
  color: #5a3eb5;
}
.nr-button {
  font-family: light;
  text-transform: capitalize;
  font-size: 24px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #6986ce;
  color: #ffffff;
  width: fit-content;
}

.nr-burger {
  height: 48px;
  width: 48px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 8px;
}
.nr-burger > div {
  display: none;
  height: 3px;
  width: 100%;
  background: #6986ce;
}

@media (max-width: 1000px) {
  .navigation {
    padding: 1.6em;
  }
  .nr-Link {
    display: none;
  }
  .nr-button {
    display: none;
  }
  .nr-burger {
    display: flex;
  }
  .nr-burger > div {
    display: inline-block;
  }
  .nl-logo {
    height: 48px;
    width: 48px;
  }
  .nl-name {
    font-size: 24px;
  }
}
