.navigation {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 48px;
  max-width: 1696px;
  margin: auto;
  background: #fff9f1;
}
.navigation-d {
  top: -113px;
}
.navigation-u {
  height: 80px;
  /* border-bottom: 1px solid rgb(232, 232, 232); */
  background: white;
}
.navigation-s {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  background: white;
  border-bottom: 1px solid rgba(47, 43, 61, 0.2);
  max-width: 1696px;
  margin: auto;
}
.navigation-left {
  display: flex;
  align-items: center;
}

.nl-logo {
  height: 72px;
  /* width: 72px; */
}
.nl-name {
  font-family: logo;
  text-transform: uppercase;
  font-size: 36px;
  color: #0c0961;
}
.navigation-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nr-Link {
  font-family: light;
  text-transform: capitalize;
  font-size: 20px;
  word-spacing: -2px;
  padding: 8px 12px;
  border-radius: 500px;
}
.nr-Link:hover {
  background: rgba(201, 214, 255, 0.5);
  color: #0c0961;
}
.nr-button {
  font-family: light;
  text-transform: capitalize;
  font-size: 24px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #6986ce;
  color: #ffffff;
  width: fit-content;
}

.nr-burger {
  height: 48px;
  width: 48px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 8px;
}
.nr-burger > div {
  display: none;
  height: 3px;
  width: 100%;
  background: #6986ce;
}
.nr-x {
  height: 48px;
  width: 48px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px;
}
.nr-x > div {
  display: none;
  height: 3px;
  width: 100%;
  background: #6986ce;
}

.navigation-popup {
  position: absolute;
  top: 100%;
  left: 0;
  height: calc(100vh - (48px + 3.2rem));
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0c0961;
  background: #fff9f1;
  padding-bottom: calc(clamp(4em, 6.666vw, 3em) * 1.25);
  padding-top: calc(clamp(3em, 6.666vw, 3em) * 1.25);
}
.np-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.npt-ink {
  font-family: title-regular;
  font-size: min(calc((100vw - (0.8em * 2)) * 0.15), 10vw);
  color: #0c0961;
}
.np-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.npb-logo {
  height: 48px;
  width: 48px;
}
@media (max-width: 1000px) {
  .navigation {
    padding: 1.6em;
  }
  .nr-Link {
    display: none;
  }
  .nr-button {
    display: none;
  }
  .nr-burger {
    display: flex;
  }
  .nr-burger > div {
    display: inline-block;
  }
  .nr-x {
    display: flex;
    position: relative;
  }
  .nr-x > div:not(:nth-child(2)) {
    display: inline-block;
  }
  .nr-x > div:nth-child(1) {
    width: 42.42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .nr-x > div:nth-child(3) {
    width: 42.42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nl-logo {
    height: 48px;
    width: 48px;
  }
  .nl-name {
    font-size: 24px;
  }
}
@media (max-width: 496px) {
  .npt-ink {
    font-size: min(calc((100vw - (0.8em * 2)) * 0.15), 13vw);
  }
}
