.quotepage {
  position: relative;
  height: calc(100vh - 144px);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: auto;
  overflow: scroll;
}
.quotepage-top {
  width: 1440px;
  margin: auto;
  height: calc(100vh - 144px - 200px - 80px);
  display: flex;
}
.qpt-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.qptl-title {
  display: inline-block;
  font-family: title-regular;
  text-transform: capitalize;
  font-size: clamp(1em, 6.666vw, 3em);
  line-height: 1em;
  background: #e5e8fd;
  width: min-content;
  padding: 12px;
  border-radius: 12px;
}
.qptl-title {
  white-space: nowrap;
}
.qptl-text {
  font-size: 1.3em;
  font-family: regular;
}
.qpt-right {
  height: 100%;
}
.qptr-image {
  height: 100%;
}
.quotepage-bottom {
  background: #e5e8fd;
  height: 144px;
  width: 100vw;
  display: flex;
  align-items: center;
}
.qpb-swiper {
  width: stretch;
  height: 144px;
  padding: 0;
}
.qpbs-slide {
  position: relative;
  height: 104px;
}
.qpbss-image {
  height: stretch;
  /* width: stretch; */
  max-height: 60px;
  max-width: 120px;
  position: absolute;
  top: 50%;
  left: 50%; 

  transform: translate(-50%, -50%); 
}
.swiper-wrapper {
  align-items: center;
}
.mySwiper {
  max-width: calc(clamp(4.5em, 6.666vw, 6em) * 15);
}

@media (max-width: 1280px) {
  .mySwiper {
      padding: calc(1.6em);
  }
}