.quotepage {
  position: relative;
  height: calc(100vh - 144px);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: auto;
  overflow: scroll;
}
.quotepage-top {
  width: 1440px;
  margin: auto;
  height: calc(100vh - 144px - 200px - 80px);
  display: flex;
}
.qpt-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}
.qptl-title {
  display: inline-block;
  font-family: title-regular;
  text-transform: capitalize;
  font-size: 60px;
  line-height: 60px;
  background: #e5e8fd;
  width: min-content;
  padding: 12px;
  border-radius: 12px;
}
.qptl-title {
  white-space: nowrap;
}
.qpt-right {
  height: 100%;
}
.qptr-image {
  height: 100%;
}
.quotepage-bottom {
  background: #e5e8fd;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
}
.qpb-swiper {
  width: 1440px;
}
.qpbs-slide {
}
.qpbss-image {
  max-height: 100px;
  max-width: 200px;
}
.swiper-wrapper {
  align-items: center;
}
