@font-face {
  font-family: bold;
  src: url("./assets/font/EncodeSansExpanded-Bold.ttf");
}
@font-face {
  font-family: logo;
  src: url("./assets/Pacifico-Regular.ttf");
}
@font-face {
  font-family: light;
  src: url("./assets/Roboto/Roboto-Light.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
}
a,
u {
  text-decoration: none;
}
