@font-face {
  font-family: logo;
  src: url("./assets/Pacifico-Regular.ttf");
}
@font-face {
  font-family: light;
  src: url("./assets/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: regular;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: bold;
  src: url("./assets/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: title;
  src: url("./assets/Larken\ Serif\ Trial/LarkenDEMO-Black.otf");
}
@font-face {
  font-family: title-regular;
  src: url("./assets/Larken\ Serif\ Trial/LarkenDEMO-Medium.otf");
}
@font-face {
  font-family: catamaran;
  src: url("./assets/catamaran/Catamaran-Regular.ttf");
}
@font-face {
  font-family: catamaran-bold;
  src: url("./assets/catamaran/Catamaran-Bold.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
  color: #343741;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
a,
u {
  text-decoration: none;
}
body {
  width: 100vw;
  overflow: hidden;
  background: #feefdc;
}
mark {
  background-color: rgba(254, 239, 220, 0.5);
}
