.home {
  position: relative;
  height: calc(100vh - 144px);
  padding: 2.5% 0;
  display: flex;
  width: 1440px;
  margin: auto;
}
.blob1 {
  position: absolute;
  z-index: -100;
  height: 75vw;
  width: 75vw;
  left: 85%;
  top: -60%;
  transform: translate(-50%, -50%);
}
.home-left {
  height: stretch;
}
.hl-image {
  height: stretch;
}
.home-right {
  color: #5a3eb5;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hr-title {
  font-family: title;
  text-transform: capitalize;
  font-size: 88px;
  line-height: 80px;
  color: #5a3eb5;
}
.hr-title > div {
  white-space: nowrap;
  font-family: title;
  text-transform: capitalize;
  font-size: 88px;
  line-height: 80px;
  color: #5a3eb5;
}
.hr-text {
  font-family: light;
  font-size: 24px;
  color: black;
}
.hr-button {
  font-family: regular;
  text-transform: capitalize;
  font-size: 20px;
  padding: 24px;
  border-radius: 12px;
  border: none;
  background: #8c8fff;
  color: #ffffff;
  width: fit-content;
  align-self: flex-start;
  margin-top: 20px;
}
.hr-button-container {
  position: relative;
}

/* ------------------------------------------------------------------*/
.hrb-dopdown {
  position: absolute;
  left: -20%;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 18px;
  bottom: calc(100% - 20px);
  height: fit-content;
  width: 624px;
}
.hrbd-left {
}
.hrbdl-title {
  font-family: bold;
  font-size: 18px;
  margin-bottom: 12px;
}
.hrbdl-container {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.hrbdl-icon {
  height: 44px;
  width: 44px;
  background: black;
  border-radius: 100%;
}
.hrbdl-link {
  font-family: regular;
  font-size: 18px;
}
/* ------------------------------------------------------------------*/
.spin {
  position: absolute;
  height: fit-content;
  bottom: 5%;
  right: 0.5%;
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p {
  height: 176px;
  width: 176px;
  position: relative;
  animation: effect 8s linear infinite;
}

@keyframes effect {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 88px;
  /* transform-style: flat; */
  font-family: bold;
  color: #5a3eb5;
}
