.home {
  position: relative;
  width: 100vw;
  max-width: 1800px;
  margin: auto;
  height: calc(100vh - 112px);
}
.home-background {
  position: absolute;
  height: calc((100vh - 112px) * 0.9);
  right: 0;
  bottom: 0;
  z-index: -10;
}
.home-container {
  max-width: 1096px;
  width: calc(100vw * 0.75);
  height: 100%;
  margin: auto;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-title {
  font-size: clamp(1em, 6.666vw, 3em);
  line-height: 1em;
  font-family: title;
  backdrop-filter: blur(3px);
  width: fit-content;
}
.home-title span {
  font-size: clamp(1em, 6.666vw, 3em);
  line-height: 1em;
  font-family: title;
  color: #e85348;
}
.home-text {
  font-size: 1.3em;
  width: 33%;
  font-family: regular;
}

.hr-button {
  font-family: light;
  text-transform: capitalize;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  background: #0c0961;
  color: #ffffff;
  width: fit-content;
  align-self: flex-start;
}

/*-------------------------------*/
.spin-container {
  height: 176px;
}
.spin {
  position: absolute;
  height: fit-content;
  bottom: 72px;
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p {
  height: 132px;
  width: 132px;
  position: relative;
  animation: effect 8s linear infinite;
}

@keyframes effect {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 66px;
  font-family: regular;
  color: #0c0961;
  font-size: 12px;
}

/*-------------------------------*/
.hr-button-container {
  position: relative;
}
.hrb-dopdown {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 18px;
  height: fit-content;
  width: 624px;
}
.hrbd-left {
}
.hrbdl-title {
  font-family: bold;
  font-size: 18px;
  margin-bottom: 12px;
}
.hrbdl-container {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.hrbdl-icon {
  height: 44px;
  width: 44px;
  background: black;
  border-radius: 100%;
}
.hrbdl-link {
  font-family: regular;
  font-size: 18px;
}

@media (max-width: 1280px) {
  .home-background {
    height: fit-content;
    width: 66%;
  }
  .spin {
    display: none;
  }
}
@media (max-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .home-background {
    position: relative;
    height: fit-content;
    width: 100%;
  }
  .home-container {
    width: 100%;
    padding: calc(1.6em);
    height: fit-content;
    margin: 0;
  }
  .home-title {
    font-size: calc((100vw - (2.6em * 2)) * 0.1);
  }
  .home-text {
    width: 100%;
  }
  .spin {
    display: flex;
    align-items: center;
    position: relative;
    align-self: self-end;
    bottom: 0;
  }
  .icon {
    height: 100px;
    width: 100px;
  }
}
